@model AutoFit.Web.ViewModels.Files.FilesViewModel
@{
    ViewData["Title"] = "Shop";
}

<div class="container">
    <h1>Shop</h1>
    <p>Hier finden sie unsere aktuellen Angebote!</p>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Artikel Bezeichnung</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Preis und Bezahlung</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ContainerDetailsList)
            {
                if (item.ContainerName.Contains("shop"))
                {
                    <tr>
                        <th scope="row">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                                <ul class="carousel-indicators">
                                    <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExample" data-slide-to="1"></li>
                                    <li data-target="#carouselExample" data-slide-to="2"></li>
                                </ul>

                                <div class="carousel-inner">
                                    @{int i = 0;}

                                    @foreach (var file in item.FileNameList)
                                    {
                                        i++;
                                        var active = i == 1 ? "active" : "";
                                        <div class="carousel-item @active">
                                            <img class="d-block img-fluid setImageSize" src="@file.Uri">
                                        </div>
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </th>
                        <td>
                            <h1>@item.ContainerName.Replace("shop", "")</h1>
                        </td>

                        <td>
                            <h1>@item.ContainerMetadata["Name"]</h1>
                        </td>

                        <td>
                            <h1>€@item.ContainerMetadata["Preis"]</h1>
                            <a asp-controller="Shop" asp-action="Kaufabwicklung" class="btn btn-primary" role="button">Weiter zur Kaufsabwicklung!</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>