
@{
//ViewData["Title"] = "Kaufabwicklung";
}


    <div class="container">
        <h1>Kaufabwicklung</h1>

        <p>Sie wollen also den Artikel ... kaufen</p>


        <p>Versandinfos eingeben..</p>


        <div id="paypal-button-container">

            <a asp-controller="Shop" asp-action="CreatePayment" class="btn btn-primary" role="button">Mit paypal bezahlen!</a>
        </div>

        

    </div>
