
@{
//ViewData["Title"] = "Kaufabwicklung";
}


    <div class="container">
        <h1>Kaufabwicklung</h1>

        <p>Sie wollen also den Artikel ... kaufen</p>


        <p>Versandinfos eingeben..</p>

        <p>Bezahlmethode auswählen!</p>
    </div>
