
    <div class="container">
        <h1>Vielen Dank!  Ihre Bestellung ist eingegangen.</h1>
        <p>Lieferdatum: ..... </p>


        Einzelheiten zum Kauf ansehen .... 



        <p>paypal result: @ViewBag.testing</p>
    </div>


