@{
    Layout = "~/Views/Shared/_LayoutNaturKinder.cshtml";
}
<body class="bodyNaturkinder">
    <div class="row">
        <div class="col-12">
            <h1> Aktuelles der Naturkinder</h1>

        </div>
    </div>

</body>
