
@{
    Layout = "_LayoutNaturKinder";
    ViewBag.Title = "Datenschutzerklärung";
}
<body class="bodyNaturkinder">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Datenschutzerklärung</h1>
                <a href="https://www.datenschutz.org/datenschutzerklaerung-website/">Link wie man eine Erklärung schreibt</a>
            </div>
        </div>
    </div>
</body>