
@{
    Layout = "_LayoutNaturKinder";
    ViewBag.Title = "Impressum";
}
<body class="bodyNaturkinder">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Impressum</h1>
                <h3>Verantwortliche + Rechtsform</h3>
                <h3>Volle Anschrift der Firma</h3>
                <h3>Angaben zur Kontaktaufnahme</h3>
                <h3>Ort des Registers und Registernummer</h3>
                <h3>Umsatzsteuer-Identifikationsnummer und Wirtschafts-Identifikationsnummer / Steuernummer nicht</h3>
                <a href="https://www.gruenderkueche.de/fachartikel/checkliste-was-muss-in-ein-impressum/"> Was muss alles ins Impressum</a>
            </div>
        </div>
    </div>
</body>