@{
    Layout = "~/Views/Shared/_LayoutNaturKinder.cshtml";
}
<body class="bodyNaturkinder">

    <div class="container">

        <h1> Infos über Naturkinder. Mitglieder. Spenden. Vorstand. Events</h1>
    </div>
</body>