
@model AutoFit.Web.ViewModels.Files.FilesViewModel

<p>List of Files</p>

<ul>
    @foreach (var item in Model.ContainerDetailsList)
    {
        <li>
            @item.ContainerName
        </li>
    }
    @foreach (var item in Model.Files)
    {
        <li>
            <a asp-action="Download"
               asp-route-filename="@item.Name">
                @item.Name Größe: @item.Size
            </a>
        </li>
    }
</ul>