
@{
    ViewData["Title"] = "Autoglas";
}

@*<div class="d-flex container  top_padding">*@


<div class="leistungs_div d-flex flex-row align-items-center justify-content-center">
    <h1>KS Autoglas Zentrum Burgstädt & Rochlitz </h1>
</div>

<div class="d-flex flex-column container">
    <div class="p-2">
        <a href="https://ksautoglas.de/index.php"> <h4> > Wir sind offizieller KS Autoglas Partner</h4></a>

    </div>
    <div class="p-2">
        <div class="d-flex flex-row ">

            <div class="p-2">

                <img src="~/images/ks_autoglas.png" />
            </div>

            <div class="p-2"></div>
            <div class="p-2"></div>

            <div class="p-2">



                <h4> Glasscheibe reparieren oder tauschen? <br /><br /></h4>
                <p>
                    Grundsätzlich gilt, dass der Schaden von einem unserer Fachleute begutachtet werden sollte.<br />
                    Sie können sich auf seinen Rat verlassen!<br />

                    Folgende Kriterien zeigen, wann ein Schaden nicht repariert werden kann oder darf:<br />

                    Steinschlag größer als eine 2-Euro-Münze<br />
                    Steinschlag im Sichtfeld des Fahrers (ca. 30 cm Breite oberhalb des Lenkrads)<br />
                    Es ist bereits ein Riss entstanden<br />
                    Steinschlag befindet sich in der Randzone der Scheibe (ca. 10 cm von der Karosserie)<br />
                </p>
            </div>


        </div>
    </div>

    <div class="p-2">
        <h1><a asp-controller="home" asp-action="contact"><span class="red_links">> </span> Kontaktieren Sie uns hier!</a>  </h1>
    </div>

</div>



