
@{
    ViewData["Title"] = "Autoglas";
}

    <div class="container leistungen">
        <div class="row">
            <div class="col-md-6">
                <h1>Autoglas</h1>
                <p>
                    Glasscheibe reparieren oder tauschen? <br />
                    Grundsätzlich gilt, dass der Schaden von einem unserer Fachleute begutachtet werden sollte.
                    Sie können sich auf seinen Rat verlassen!

                    Folgende Kriterien zeigen, wann ein Schaden nicht repariert werden kann oder darf:

                    Steinschlag größer als eine 2-Euro-Münze
                    Steinschlag im Sichtfeld des Fahrers (ca. 30 cm Breite oberhalb des Lenkrads)
                    Es ist bereits ein Riss entstanden
                    Steinschlag befindet sich in der Randzone der Scheibe (ca. 10 cm von der Karosserie)
                </p>
            </div>
            <div class="col-md-6"></div>
        </div>
       
       
    </div>
