
@{
    ViewData["Title"] = "Fehlerdiagramme";
}


<div class="d-flex flex-column container  top_padding">
    <h1>Fehlerdiagnosen & Inspektionen </h1>

    <div class="d-flex flex-row">
        <div class="p-2">
            <h3>GARANTIE BLEIBT ERHALTEN</h3>
            <p>Wir verfügen über geeignete Werkstattausrüstung sowie die nötigen Wartungs-, Einstell- und Teiledaten für Service und Reparatur und verwenden Markenersatzteile führender Hersteller. So bleibt die Garantie des Fahrzeugs umfänglich erhalten.</p>
        </div>

        <div class="p-2">
            <img src="~/images/beispiel_leistungen.jpg" />
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-2">
            <h3>MIT MARKENERSATZTEILEN</h3>
            <p>Für die Inspektion verwenden wir Ersatzteile mit Original-Markenqualität (nach GVO 1400/2002). Unsere Markenersatzteile von namhaften Herstellern – wie MANN + HUMMEL oder BOSCH – sind gleichwertig zu sogenannten Original-Ersatzteilen der Fahrzeughersteller und zertifiziert, aber oft auch günstiger.</p>
        </div>
        <div class="p-2">
            <img src="~/images/beispiel_leistungen.jpg" />
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-2">
            <h3>PERSÖNLICH ERKLÄRT</h3>
            <p>Wir leben von dem guten Ruf unserer Arbeit! Selbstverständlich besprechen wir mit Ihnen sämtliche Arbeiten, die abgestimmt an Ihrem Fahrzeug durchgeführt werden. Ein Inspektions-Angebot erstellen und kalkulieren wir individuell für Ihr Fahrzeug – mit einer europaweiten Mobilitätsgarantie und natürlich ganz ohne überraschende Zusatzkosten. Sofern verfügbar halten wir Sie gern mit einem Ersatzwagen mobil.</p>
        </div>
        <div class="p-2">
            <img src="~/images/beispiel_leistungen.jpg" />
        </div>
    </div>

</div>

