
@{
    ViewData["Title"] = "Leihwagen";

}


<div class="container" id="Inhalte-werden-zentriert">
    <div id="">
        <h2>Meine Vorsätze für's neue Jahr:</h2>
        <ul>
            <li>aufhören mit rauchen</li>
            <li>aufhören mit trinken</li>
            <li>
                mehr unternehmen, d.h.
                <ul>
                    <li>Sport treiben</li>
                    <li>Abnehmen</li>
                    <li>Gute Vorsätze fassen</li>
                </ul>
            </li>
            <li>Das Leben genießen!</li>
        </ul>
    </div>
</div>



