
@{
    ViewData["Title"] = "Klimaservice";

}

<div class="d-flex flex-column container  top_padding">
    <h1></h1>

    <div class="d-flex flex-row">
        <div class="p-2">
            <h3></h3>
            <p> </p>
        </div>

        <div class="p-2">
            <img src="~/images/beispiel_leistungen.jpg" />
        </div>
    </div>


</div>



