
@{
    ViewData["Title"] = "Reifenservice";

}


    <div class="d-flex flex-column container  top_padding">
        <h1>Reifenservice</h1>

        <div class="d-flex flex-row">
            <div class="p-2">
                <h3>KOMPETENTER SERVICE</h3>
                <p>Damit Sie mit einem sicheren Gefühl unterwegs sein können, werden die Räder mit dem für den Fahrzeugtyp vorgegebenen Anzugsdrehmoment montiert. Um übermäßigen Verschleiß und unruhiges Fahrverhalten zu vermeiden empfehlen wir, die Räder bei jedem Wechsel auszuwuchten. Wir prüfen nicht nur die Profiltiefe, sondern den gesamten Zustand Ihrer Reifen. </p>
            </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="p-2">
                <h3>EINLAGERUNG</h3>
                <p>Sie haben keinen Platz oder Gelegenheit, um Ihre Räder zu lagern? Wir kümmern uns gern darum und lagern Ihre Räder bis zum nächsten Wechsel fachgerecht bei uns ein. Das ist praktisch und bequem – keine schmutzigen Finger, keine lästige Schlepperei!</p> </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>


    </div>


