
@{
    ViewData["Title"] = "Reparaturen";

}


    <div class="d-flex flex-column   top_padding">
        
        <div class="leistungs_div d-flex flex-row align-items-center justify-content-center">
        <h1>Reparaturen aller Art</h1>
        </div>
       

        <div class="container d-flex flex-row">
            <div class="p-2">
                <h3>Fahrwerkservice</h3>
                <p>Wir reparieren alles. Sogar Robin's coolen BMW. Der arme ;( </p>
            </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>

        <div class="container d-flex flex-row">
            <div class="p-2">
                <h3>Bremsenservice</h3>
                <p>Damit eine Vollbremsung nicht zum Problem wird, verwenden wir Bremsenteile führender Marken wie z.B. ATE oder BOSCH. Mit dem Bremsenprüfstand kontrollieren wir bei jeder Wartung und Reparatur die Funktionsfähigkeit. Unsere qualifizierten Mitarbeiter sind auch auf moderne elektronische Bremsensysteme geschult. </p>
            </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>


    </div>


