
@{
    ViewData["Title"] = "Ölservice";

}


    <div class="d-flex flex-column container  top_padding">
        <h1>Ölwechsel</h1>

        <div class="d-flex flex-row">
            <div class="p-2">
                <h3>MOTORENÖL UND ÖLFILTER IN MARKENQUALITÄT</h3>
                <p>Damit das Herz Ihres Fahrzeugs im wahrsten Sinne des Wortes „wie geschmiert“ läuft, vertrauen wir bei Motorenölen und Ölfiltern namhaften Herstellerprodukten, die die Leistungsfähigkeit Ihres Motors unterstützen und somit eine lange Lebensdauer gewährleisten. </p>
            </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="p-2">
                <h3>
                    UMWELTGERECHTE ENTSORGUNG
                </h3>
                <p>Bei der Entsorgung betreiben wir professionelles Umweltmanagement. Zertifizierte Entsorgungsunternehmen sichern uns die Einhaltung strenger Auflagen zum Schutz von Umwelt und Lebensraum. </p>
            </div>

            <div class="p-2">
                <img src="~/images/beispiel_leistungen.jpg" />
            </div>
        </div>


    </div>

