html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    padding-top: 70px;
    background-color: #6E6E6E;
}

#bodyNaturkinder {
    background-image: url('../images/leaves.png');
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

#FooterDivider {
    background-color: #665a70;
    height: 8px;
}


#FooterRedline {
    background-color: red;
}

#GraueTrennlinie{
    background-color: darkslategray;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background-color: #FF00FF;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: inline;
    }
}

.jumbotron {
    text-align: center;
    color: #fff;
    padding: 5em inherit;
    background-color: #990000;
}

/* Carousel Styling */
.setImageSize {
    width: 1250px;
    height: 800px;
    max-height: 700px;
    left:50%;
}

.setShopImageSize{
    max-height: 300px;
    width:300px;
   /*max-width: 200px;*/ 
}
/*Naturkinder Styles*/
#autofitFooter {
    background-color: #1C1C1C;
    color: white;
}

#naturkinderNavbar {
    background-color: #81F781;
}

#fahrzeugsBestandlisteIMG {
    width: inherit;
    height: 400px;
    margin: 3px;
    padding: 3px;
}

#cookieConsent {
    height: 200px;
    position: sticky;
    background-color: aliceblue;
}

#scroll_top_div {
    position: fixed;
    background: #171719;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100px;
    color: #A5A9B3;
    font-weight: bold;
}




#scroll_top_wrap {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
    width: 5px;  /*not sure, why but fixed that to top doesnt trigger everywhere*/
}

.scrtoptit {
    display: inline-block;
    font-size: 15px;
    margin-left: 8px;
}

#main_home_body {
   padding-top:0;
   padding-bottom:5px;
   
}

#leistungs_div{
    background-color:aliceblue;
    padding-top:10px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:5px;
   opacity:0.6;

}

#überschrift{
    text-align:center;

}

i {
    font-size: 30px;
}

/*bootstrap containers have padding, this should overwrite it, so container fluid is always 100% width
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}*/

#images_centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#centeredTextInImage {
    font-size: 40px;
    /*-moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
    color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    /*transform: translate(-50%, -50%);*/
}

#viewbagErrorMessage{
    color:#ff0000;
}

#azureMetadata {
    padding-top: 10px;
    padding-bottom : 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

/*Dateien aus Ordnern werden erst durch button function angezeigt*/
.FolderFiles{
    display: none;
}

#contaxtViewBody{
    background-color:white;
}


.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

a {
    color:black;
}

#mainpage_contact{
    padding-top: 20px;
    
}

.mainpage_contact_text{
    text-indent: 50px;
    font-size:larger;
    text-align:center;
}

.leistungen{
    background-color:white;
    text-align:left;
    
    height:700px;
}