html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    padding-top: 70px;
    background-color: #6E6E6E;
}

#bodyNaturkinder {
    background-image: url('../images/leaves.png');
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

#FooterDivider {
    background-color: #665a70;
    height: 8px;
}

#FooterRedline {
    background-color: red;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background-color: #FF00FF;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: inline;
    }
}

.jumbotron {
    text-align: center;
    color: #fff;
    padding: 5em inherit;
    background-color: #990000;
}

/* Carousel Styling */
.setImageHeight {
    width: auto;
    height: 500px;
    max-height: 500px;
}

/*Naturkinder Styles*/

#autofitFooter {
    background-color: #1C1C1C;
    color: white;
}

#naturkinderNavbar {
    background-color: #81F781;
}

#fahrzeugsBestandlisteIMG {
    width: inherit;
    height: 400px;
    margin: 3px;
    padding: 3px;
}

#cookieConsent {
    height: 200px;
    position: sticky;
    background-color: aliceblue;
}

#scroll_top_div {
    position: fixed;
    background: #171719;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100px;
    color: #A5A9B3;
    font-weight: bold;
}




#scroll_top_wrap {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
}

.scrtoptit {
    display: inline-block;
    font-size: 15px;
    margin-left: 8px;
}



#main_header{
    padding-left: 200px;
    padding-right: 200px;
}

