/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: inline;
    }
}

html {
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin-bottom: 60px;
    padding-top: 50px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}



a {
    color: black;
    text-decoration: none;
}



    a:hover {
        color: #BC1818;
        text-decoration: none;
    }

.red_links {
    color: #BC1818;
}

#main_header {
    background-color: #292828;
}

.header_links{
    color:snow;
}

#autofitFooter {
    background-color: #292828;
    color: snow;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

#FooterDivider {
    background-color: #665a70;
    height: 8px;
}


#FooterRedline {
    background-color: #BC1818;
}

#GraueTrennlinie {
    background-color: darkslategray;
}

#scroll_top_div {
    position: fixed;
    background-color: #292828;
    color: snow;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 70px;
    font-weight: bold;
}




#scroll_top_wrap {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
    width: 5px; /*not sure, why but fixed that to top doesnt trigger everywhere*/
}

.scrtoptit {
    display: inline-block;
    font-size: 15px;
    margin-left: 8px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background-color: #FF00FF;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}
/* Carousel Styling */
.setImageSize {
    width: 50%;
    height: 50%;
    max-height: 600px;

}


.setShopImageSize {
    max-height: 300px;
    width: 300px;
    /*max-width: 200px;*/
}
/*Naturkinder Styles*/


#fahrzeugsBestandlisteIMG {
    width: inherit;
    height: 400px;
    margin: 3px;
    padding: 3px;
}

#cookieConsent {
    height: 200px;
    position: sticky;
    background-color: aliceblue;
}



#images_centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#centeredTextInImage {
    font-size: 50px;
    font-weight: 500;
    /*-moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
    color: #B30D35;
    position: absolute;
    top: 10%;
    left: 30%;
    /*transform: translate(-50%, -50%);*/
}

#leistungs_div {
    background-color: darkslategrey;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    opacity: 0.6;
}

.leistungen {
    text-align: left;
    height: 700px;
}

.top_padding{
    padding-top: 20px;
}

#Inhalte-werden-zentriert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.überschrift {
    text-align: center;
}

i {
    font-size: 30px;
}


#viewbagErrorMessage {
    color: #ff0000;
}

#azureMetadata {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

/*Dateien aus Ordnern werden erst durch button function angezeigt*/
.FolderFiles {
    display: none;
}



.mainpage_news {
    padding-top: 40px;
    display: grid;
    justify-content: center;
   
}

.autofit_contact_text {
    text-indent: 50px;
    font-weight: 400;
}

.autofit_contact_div{
    padding-top:60px;
}

/*
    .jumbotron {
    text-align: center;
    color: dimgrey;
    background-color: white;
    height: 20px;
}
*/


.slideShowImage{
    height: 600px;
    width: 100%;

}


