
@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <p>Für ein optimales Websiteerlebnis, werden Cookies zu Technischen-, Performance- und Marketingzwecken verwendet. <br />  Mit dem Klick auf „Ja, ich will Kekse“ stimmen Sie der Verwendung von Cookies zu... <a asp-controller="Home" asp-action="Datenschutz">Learn More</a>.</p>
        <button type="button" id="cookieBtn" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Ja, ich will Kekse <i class="fas fa-cookie-bite"></i></span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}