
    <div class="container d-flex flex-column top_padding">

        <h1>Stellenangebote:</h1>
        <div class="p-2"></div>
        <div class="p-2"></div>

        <h3>Zurzeit gibt es keine konkreten Stellenangebote!</h3>
        <div class="p-2"></div>
        <div class="p-2"></div>
        <p>Bewerben Sie sich initiativ über <a asp-controller="HOme" asp-action="Contact"> <span class="red_links">> </span>Kontaktformular o</a>der Email an info@autofitseidel.de</p>

    </div>
