<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - AutoFit Seidel</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/node_modules/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">AutoFit Seidel</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="Jobs">Stellenangebote</a>
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="Cars">Gebrauchtwagen</a>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Services
                            </a>
                            <div class="dropdown">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Scheiben austauschen</a>
                                    <a class="dropdown-item" href="#">Reparaturen aller Art</a>
                                    <a class="dropdown-item" href="#">bla</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-item nav-link" asp-controller="Files" asp-action="Index">Admin</a>

                                <form class="form-inline " method="post" asp-controller="Auth" asp-action="SignOut">
                                    <button type="submit" class="btn btn-primary">Sign Out</button>
                                </form>

                            }
                            else
                            {
                                <a class="nav-item nav-link" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                            }
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>



    @RenderBody()


<footer class="footer">
    <div class="container-fluid " id="autofitFooter">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-car"></i>
            </div>
            <div class="col-4">
                <i class="fas fa-biohazard"></i>
            </div>
            <div class="col-4">
                <i class="fas fa-car"></i>
            </div>
        </div>

        <hr id="FooterDivider"/>

        <div class="row">
            <div class=col-4>
                <p>Service Hotline</p>
                <hr width="60%" align="left" id="FooterRedline"/>
                <span > Tel: 123123213213213123</span>
            </div>
            <div class="col-4">
                <p>Öffnungszeiten</p>
                <hr width="60%" align="left" id="FooterRedline"/>
                <p>Mo. - Fr. | 8:00 - 18:00 Uhr</p>
                <p>Sa.       | 8:00 - 12:00 Uhr</p>
            </div>
            <div class="col-4">
                <p>Informationen</p>
                <hr width="60%" align="left" id="FooterRedline" />
                <a asp-controller="Home" asp-action="Impressum" class="badge badge-light">Impressum</a>
                <a asp-controller="Home" asp-action="Contact" class="badge badge-light">Kontakt</a>
                <a asp-controller="Home" asp-action="Datenschutz" class="badge badge-light">Datenschutz</a>
            </div>
        </div>
    </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src=""></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
