<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="naturkinderNavbar">
                <a class="navbar-brand" asp-controller="Naturkinder" asp-action="Index" class="nav-link">
                    <img src="~/images/findus_TestBild.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                    <em>Naturkinder Weißbach</em>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        <a class="nav-item nav-link" href="#">Aktuelles</a>
                        <a class="nav-item nav-link" href="#">Verein</a>
                        <a class="nav-item nav-link" href="#">Stellenangebote</a>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Aktionen
                        </a>
                        <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Service 1</a>
                                <a class="dropdown-item" href="#">Service 2</a>
                                <a class="dropdown-item" href="#">Service 3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div> 
    </div>
</div>


    @RenderBody()
<div class="container-fluid fixed-bottom" id="naturkinderFooter">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <span class="bottomaddress">Naturkinder Weißbach | 09306 Weißbach | Dorfstraße 25 | Tel: <a href="tel:+493737149224">+49 (0)3737 - 149224</a></span>
            </div>
            <div class="col-3 zeiten">
                <h4>Öffnungszeiten</h4>
                <p>Mo. - Fr. | 9:00 - 18:00 Uhr</p>
                <a asp-controller="Home" asp-action="Contact" class="badge badge-light">Kontakt</a>
                <a href="#" class="badge badge-light">Impressum</a>
                <a href="#" class="badge badge-light">Datenschutz</a>
            </div>
        </div>
    </div>
    
</div>


<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>


</body>
</html>
