<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - AutoFit Seidel</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">

</head>
<body>

    <partial name="_CookieConsentPartial" />

    <div>
        <!--class="container" -->
        <div id="main_header">
            @await Html.PartialAsync("_navbar")
        </div>


        <div id="scroll_top_wrap" onclick="location.href = '#top';">
            <div id="scroll_top_div">
                <span onclick="location.href = '#top';" class="scrtoptit"><br /><br /><br /> <i class="fas fa-angle-double-up"></i></span>
            </div>
        </div>

    </div>

    <div >
        @RenderBody()
    </div>

   

    <footer class="footer">
        <div class="container-fluid " id="autofitFooter">


            @*<hr id="FooterDivider" />*@

            <div class="row">
                <div class=col-md-6>
                    <p><i class="fas fa-phone-volume"></i>  Service Hotline  </p>
                    <hr width="60%" align="left" id="FooterRedline" />
                    <span>  Autofit Rochlitz | +49 (0)3737 42580 |  service@autofitseidel.de </span> <br />
                    <span>  Autofit Burgstädt | +49 (0)3724 6692424 |  info@autofitseidel.de </span>
                    <span>  </span>
                </div>
                <div class="col-md-3">
                    <p> <i class="fas fa-door-open"></i> Öffnungszeiten  </p>
                    <hr width="60%" align="left" id="FooterRedline" />
                    <p>Mo. - Fr. | 9:00 - 18:00 Uhr</p>
                    <p>Sa.       | 9:00 - 12:00 Uhr</p>
                </div>
                <div class="col-md-3">
                    <p> <i class="fas fa-info"></i> Informationen  </p>
                    <hr width="60%" align="left" id="FooterRedline" />
                    <a asp-controller="Home" asp-action="Impressum" class="badge badge-light">Impressum</a>
                    <a asp-controller="Home" asp-action="Contact" class="badge badge-light">Kontakt</a>
                    <a asp-controller="Home" asp-action="Datenschutz" class="badge badge-light">Datenschutz</a>
                </div>
            </div>
        </div>
      
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
