
<div class="row" id="überschrift">
    <h1>Unsere Leistungen im Überblick</h1>
</div>
<div class="row">
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-car"></i>
        <h2><a asp-controller="Leistungen" asp-action="Gebrauchtwagen">Ankauf und Verkauf von Gebrauchtwagen</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-water"></i>
        <h2><a asp-controller="Leistungen" asp-action="Autopflege">Autoaufbereitung und Autopflege</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-tools"></i>
        <h2><a asp-controller="Leistungen" asp-action="Reparaturen">Reparaturen aller Art</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>

</div>
<div class="row">
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-oil-can"></i>
        <h2><a asp-controller="Leistungen" asp-action="Autoglas">Autoglas Reparatur und Austausch</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-oil-can"></i>
        <h2><a asp-controller="Leistungen" asp-action="Fehlerdiagnose">Fehlerdiagnose</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <span style="font-size: 40px;"><i id="images_centered" class="fas fa-band-aid"></i></span>
        <h2><a asp-controller="Leistungen" asp-action="HU_AU">HU & AU: Alles rund um TÜV & Dekra</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
</div>

<div class="row">
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-oil-can"></i>
        <h2><a asp-controller="Leistungen" asp-action="Inspektionen">Inspektionen</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">

        <span style="font-size: 40px;"><i id="images_centered" class="fas fa-band-aid"></i></span>
        <h2><a asp-controller="Leistungen" asp-action="Reifenservice">Reifenservice</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <span style="font-size: 40px;"><i id="images_centered" class="fas fa-band-aid"></i></span>
        <h2><a asp-controller="Leistungen" asp-action="Klimaservice">Klimaservice</a></h2>
        <p>Beschreibungstext einfügen</p>
    </div>
</div>





