@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row" id="überschrift">
    <h1>Unsere Leistungen</h1>
</div>
<div class="row">
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-car"></i>
        <h2>Ankauf und Verkauf von Gebrauchtwagen</h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-water"></i>
        <h2>Autoaufbereitung und Autopflege</h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-tools"></i>
        <h2> Reparaturen aller Art</h2>
        <p>Beschreibungstext einfügen</p>
    </div>

</div>
<div class="row">
    <div class="col-sm" id="leistungs_div">
        <i id="images_centered" class="fas fa-oil-can"></i>
        <h2>Service Arbeiten</h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div">

        <span style="font-size: 40px;"><i id="images_centered" class="fas fa-band-aid"></i></span>
        <h2>Glasreparaturen</h2>
        <p>Beschreibungstext einfügen</p>
    </div>
    <div class="col-sm" id="leistungs_div"> <h2>placeholder</h2> <p>Beschreibungstext einfügen</p></div>
</div>



