@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="autofit_contact_div container">


        <div class="row ">
            <div class="col-md-6">
                <h1>Autofit Rochlitz</h1>
                <div class="autofit_contact_text">
                    <p>Leipziger Straße 51, 09306 Rochlitz</p>
                    <p>Telefon: +49 (0)3737 42580</p>
                    <p>Email: service@autofitseidel.de</p>
                    <br />
                    <p><a asp-controller="Home" asp-action="Contact">> Sprechen Sie uns direkt an!</a></p>
                </div>

            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5965.005709290121!2d12.791537928398142!3d51.053531706298216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a716c7b9222cbf%3A0x849f6a65ec948dc2!2sAutofit%20Seidel%20%26%20KS%20Autoglas%20Zentrum%20Rochlitz!5e0!3m2!1sde!2sde!4v1586349291606!5m2!1sde!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

    </div>