
    <div class="container">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p>Autofit Seidel, Inh. Eric Seidel<br>Eric Seidel</p>
        <h3>Postanschrift:</h3>
        <p>Goethestr. 2<br>09217 Burgstädt<br></p>
        <h3>Kontakt:</h3>
        <p>Telefon: 03724 669 2424<br>E-Mail: admin@autofitseidel.de</p>
        <p></p>
        <h3>Umsatzsteuer-Identifikationsnummer</h3>
        <p>DE291799735<br></p>
        <p><br></p>
        <p></p>
        <h3>Zuständige Kammer:</h3>
        <p>Handwerkskammer Chemnitz<br></p>
        <p></p>
        <h3>Zugelassen für:</h3>
        <p>Deutschland<br></p>
        <p></p>
        <h2>Hinweise zur Website</h2>
        <p></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        <p></p>
        <h2>Hinweis</h2>
        <p>Die Plattform der EU zur außergerichtlichen Streitbeilegung finden Sie online unter: <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a></p>
        <p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
        </div >
