@{

}
<div container>
    <h1>Oops, Ihre Nachricht konnte nicht zugestellt werden!</h1>
    <br />
    <p>Bitte melden sie bei uns per Telefon oder Email.</p>
    <p>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index" role="button">Home</a>
    </p>
</div>
