@{
    var msg = ViewData["Message"];
}
<div container>
    <h1>Oops, Ihre Nachricht konnte nicht zugestellt werden!</h1>
    <br />
    <p>Bitte melden Sie sich direkt bei uns unter: 01729004229 oder unter info@autofitseidel.com</p>
    <p>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index" role="button">Home</a>
    </p>

    <span class="error">@msg</span>
</div>
