@{
  
}
<div container>
    <h1>Ihre Nachricht wurde erfolgreich gesendet!</h1>
    <p>
        <a class="btn btn-success" asp-controller="Home" asp-action="Index" role="button">Home</a>
    </p>
</div>
