
@{
    ViewData["Title"] = "Partner";
}


<!--<div class="slideShowImageContainer" id="partner_div">
    <div id="carouselExample" class="carousel slide " data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExample" data-slide-to="1"></li>
            <li data-target="#carouselExample" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active ">

                <a target="_blank" href="https://www.pvautomotive.de/">  <img class="d-block slideShowImage" src="~/images/Logo_PV_Automotive.jpeg" /></a>
            </div>
            <div class="carousel-item ">
                <a target="_blank" href="https://ksautoglas.de/index.php">  <img src="~/images/ks_autoglas.png" /></a>
            </div>
            <div class="carousel-item ">
                <a target="_blank" href=" https://www.castrol.com/de_de/germany/home.html"> <img src="~/images/castrol.png" /></a>
            </div>
            <div class="carousel-item ">
                <a target="_blank" href=" https://www.bosch.de/"> <img src="~/images/Bosch.jpg" /> </a>
            </div>
            <div class="carousel-item ">
                <a target="_blank" href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"> <img src="~/images/mannfilter.jpg" /></a>
            </div>
            <div class="carousel-item ">
                <a target="_blank" href="https://www.hella-gutmann.com/de">    <img src="~/images/HGS_logo.jpg" />      </a>
            </div>-->
<!-- <a asp-controller="Home" asp-action="Index" asp-fragment="newsView" id="centeredTextInImage">Herzlich Willkommen bei Autofit Seidel</a> -->
<!--</div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>-->
@*<div class="container">
        <div class="row">
            <h3>Unsere Partner</h3>
            <hr width="100%" align="" size="5" id="FooterRedline" />
        </div>

        <div class="row">
            <div class="col-md-6 "><a target="_blank" href="https://www.pvautomotive.de/"><h4>PV AUTOMOTIVE</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href="https://www.pvautomotive.de/"><img src="~/images/Logo_PV_Automotive.jpeg" /> </a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 "> <a target="_blank" href="https://ksautoglas.de/index.php"> <h4>KS AUTOGLAS</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href="https://ksautoglas.de/index.php">  <img src="~/images/ks_autoglas.png" /></a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 "> <a target="_blank" href=" https://www.castrol.com/de_de/germany/home.html"><h4>CASTROL</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href=" https://www.castrol.com/de_de/germany/home.html"> <img src="~/images/castrol.png" /></a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 "> <a target="_blank" href=" https://www.bosch.de/"> <h4>BOSCH</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href=" https://www.bosch.de/"> <img src="~/images/Bosch.jpg" /> </a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 "><a target="_blank" href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"><h4>MANNFILTER</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"> <img src="~/images/mannfilter.jpg" /></a></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 "> <a target="_blank" href="https://www.hella-gutmann.com/de">   <h4>HELLA GUTMANN</h4></a></div>
            <div class="col-md-6 "> <a target="_blank" href="https://www.hella-gutmann.com/de">    <img src="~/images/HGS_logo.jpg" />      </a></div>
        </div>
    </div>*@






<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2">
                        <a target="_blank" href="https://www.hella-gutmann.com/de">    <img src="~/images/HGS_logo.jpg" />      </a>
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->
        <!--Second slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->
        <!--Third slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
