
@{
    ViewData["Title"] = "Partner";
}


<div class="container">
    @* <div class="row">
            <div class="col-md-4 überschrift">
                <h4>  Wir sind Partner von PV Automotive</h4>
                <br />
                <a href="https://www.pvautomotive.de/"><img src="~/images/Logo_PV_Automotive.jpeg" /> </a>
            </div>
            <div class="col-md-4 überschrift">

                <h4> Wir sind Partner von KS Autoglas </h4>
                <br />
                <a href="https://ksautoglas.de/index.php">  <img src="~/images/ks_autoglas.png" /></a>
            </div>
            <div class="col-md-4 ">
                <h4>Wir empflehlen:</h4>
                <div class="row">
                    <div class="col">
                        <br />
                        <p>  <a href=" https://www.castrol.com/de_de/germany/home.html"> <img src="~/images/castrol.png" /></a></p>
                        <br />
                        <p>  <a href=" https://www.bosch.de/"> <img src="~/images/Bosch.jpg" /> </a></p>
                        <br />
                        <p>    <a href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"> <img src="~/images/mannfilter.jpg" /></a></p>

                    </div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <h4>Unsere Partner</h4>
        <hr width="100%" align="" size="6" id="FooterRedline" />
    </div>

    <div class="row">
        <div class="col-md-6 "><a target="_blank" href="https://www.pvautomotive.de/"><h3>PV AUTOMOTIVE</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href="https://www.pvautomotive.de/"><img src="~/images/Logo_PV_Automotive.jpeg" /> </a></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 "> <a target="_blank" href="https://ksautoglas.de/index.php"> <h3>KS AUTOGLAS</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href="https://ksautoglas.de/index.php">  <img src="~/images/ks_autoglas.png" /></a></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 "> <a target="_blank" href=" https://www.castrol.com/de_de/germany/home.html"><h3>CASTROL</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href=" https://www.castrol.com/de_de/germany/home.html"> <img src="~/images/castrol.png" /></a></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 "> <a target="_blank" href=" https://www.bosch.de/"> <h3>BOSCH</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href=" https://www.bosch.de/"> <img src="~/images/Bosch.jpg" /> </a></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 "><a target="_blank" href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"><h3>MANNFILTER</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href=" https://www.mann-filter.com/de/mann-filter/online-katalog/"> <img src="~/images/mannfilter.jpg" /></a></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 "> <a target="_blank" href="https://www.hella-gutmann.com/de">   <h3>HELLA GUTMANN</h3></a></div>
        <div class="col-md-6 "> <a target="_blank" href="https://www.hella-gutmann.com/de">    <img src="~/images/HGS_logo.jpg" />      </a></div>
    </div>
</div>
