@model AutoFit.Web.Data.Contact

@{
    ViewData["Title"] = "Contact";
}

<h1> Kontaktformular</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="FirstName">Firstname</label>
        <input asp-for="FirstName" class="form-control" placeholder="Vorname">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Lastname</label>
        <input asp-for="LastName" class="form-control" placeholder="Nachname">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label asp-for="Subject">Thema</label>
        <input asp-for="Subject" class="form-control" placeholder="Thema eingeben">
    </div>
    <div class="form-group">
        <label asp-for="Message">Nachricht</label>
        <input asp-for="Message" class="form-control" placeholder="Ihre Nachricht eingeben">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>