@using Microsoft.AspNetCore.Http;
@model AutoFit.Web.ViewModels.ContactViewModel
@{
    ViewBag.Title = "AutoFit Seidel";
}
<!--

<div class="jumbotron">
    <h1>Herzlich Willkommen bei Autofit Seidel </h1>
    <img src="~/images/autofit.jpg" />
</div>

//-->


    <div id="main_home_body">

        <div id="carView">@await Component.InvokeAsync("BurgstädtCaroussel")</div>
        <div class="container" id="newsView">@await Html.PartialAsync("_news_rochlitz")</div>
        <hr id="GraueTrennlinie" />
        <div class="container" id="newsView">@await Html.PartialAsync("_news_burgstädt")</div>
        <hr id="GraueTrennlinie" />
        <div class="container" id="leistungenView">@await Html.PartialAsync("_leistungen")</div>
        <hr id="GraueTrennlinie" />
        <div class="container" id="jobsView">@await Html.PartialAsync("_jobs")</div>
        <hr id="GraueTrennlinie" />
        <div class="container" id="carView">@await Component.InvokeAsync("Cars")</div>

    </div>
