@using Microsoft.AspNetCore.Http;
@model AutoFit.Web.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "AutoFit Seidel";
}
<div class="jumbotron">
    <h1>Willkommen bei  Autofit Seidel </h1>
    <p>placeholder</p>
</div>
<div id="main_home_body" class="container">


    <div id="carView">@await Component.InvokeAsync("BurgstädtCaroussel")</div>
    <div id="leistungenView">@await Html.PartialAsync("_leistungen")</div>
    <div id="carView">@await Component.InvokeAsync("Cars")</div>



</div>
