
@{
    ViewData["Title"] = "UnderDevelopment";
    Layout = "layoutDev";

}
<nav id="main_header" class="navbar fixed-top navbar-expand-lg ">
    <a class="navbar-brand header_links" asp-controller="Home" asp-action="Index">AutoFit Seidel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-item nav-link header_links" asp-controller="Shop" asp-action="Index">Shop</a>
                <a class="nav-item nav-link header_links" asp-controller="Cart" asp-action="Index">Warenkorb</a>


                <a class="nav-item nav-link header_links" asp-controller="Admin" asp-action="Index">Admin</a>
                <a class="nav-item nav-link header_links" asp-controller="Shop" asp-action="AdminShop">AdminShop</a>


                <form class="form-inline " method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="btn btn-primary">Sign Out</button>
                </form>

            }
            else
            {
                <a class="nav-item nav-link header_links" asp-controller="Account" asp-action="Login">Sign In</a>
            }
        </div>
    </div>
  
</nav>




<h1>Hier entsteht die neue Website von Autofit Seidel Rochlitz/Burgstädt</h1>

<p>Bei Fragen wenden Sie sich bitte an <bold>info@autofitseidel.de </bold> </p>

