
@model AutoFit.Web.ViewModels.Files.FilesViewModel

@{
	   
}


    <h1> Hier Fahrzeugbestandliste</h1>

    <div class="container">

        @foreach (var item in Model.Container)
        {
            foreach (var file in item.FileNameList)
            {
                @*<a asp-controller="Files" asp-action="Index"> <img src="@file"  /> </a>*@
                <img src="@file.Uri" />

                foreach (var data in file.Metadata.Values)
                {
                    <h1>@data</h1>
                }


            }
        }

    </div>

